@charset "UTF-8";

body{
    background: rgb(120, 184, 214);
    font: normal 1.2em arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.158);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}